<main class="default-page">
  <article class="cf">
    <div class="col">
      <h2>WTF is it?</h2>

      <p>We think there’s a better way of raising money for charity than bake sales.  A way that brings friends and family together to support someone every step of their marathon, 10k or funrun. A fundraiser that raises spirit as well as cash. That’s Good Tunes.</p>
      <p>Good Tunes helps runners creative a personalised playlist for their charity run. Every single song donated by friends or family in return for a donation. Simple. But it doesn’t stop there. On race day, everyone can keep up to date on runners progress as each track is positioned on a real time route map.</p>
      <p>Want to get your Good Tunes on? Get in touch with the crew at <a href="mailto: team@goodtunes.org">team@goodtunes.org</a>.</p>
    </div>

    <div class="col">
      <h2>Who we are</h2>

      <p>Good Tunes is a team of creatives and technologists formed of Ben Schwab, Hannah Drury, Ian Huntington, Paul Carvill and Jamie Newman. Without them, this wouldn’t be possible.</p>
      <p>Way back in 2013 Ben decided to run the London marathon for a cause very close to his heart. But there was a problem, he needed to raise £1,500 and quickly. With so many other people in London hassling friends, family and colleagues for money we decided to do something that would stand out and get people to part with their hard earnt cash.</p>
      <p>Any amount of bake sales or raffles weren’t going to cut it either as a huge amount of Ben’s biggest supporters were in Switzerland. So after a few bottles of wine and fair amount of graft, Good Tunes was born. It went live 3 days before the marathon and smashed his target to collect £5,085. The icing on the cake was Ben crossing the finish line after 4 hours 48mins to David Bowie’s Hero. Too perfect.</p>
      <p>After a year off and some much deserved leg rest, the Good Tunes crew are back in 2015 to support Ben and his partner in crime, Jade, as they run the New York marathon. Watch this space.</p>
      <p>And from everyone at Good Tunes GOOD LUCK <a href="#/fundraisers/57b36842e82387f52d26af3b">BEN</a>!!</p>
    </div>
  </article>
  <a class="backToFundraiser" ui-sref="home">
    <span>Back to Home</span>
  </a>
</main>
