<section class="homepage">

  <div class="goodtunes">
    <img src="/src/images/good-tunes-red.png" alt="Good Tunes" width="173" height="176">
    <a ui-sref="about">WTF is Good Tunes?</a>
  </div>

  <div class="fundraiser ben">
    <a href="/fundraisers/5616a8bf808f29d60f1ea1ca/map">
      <div class="fundraiser__picture" style="background-image: url(/src/images/ben.jpg);"></div>
      <h1 class="fundraiser__title">
        <span>Follow Ben Live</span>
      </h1>
    </a>
  </div>

  <div class="fundraiser jade">
    <a href="/fundraisers/56153460e340a65434faa82d/map">
      <div class="fundraiser__picture" style="background-image: url(/src/images/jade.jpg)"></div>
      <h1 class="fundraiser__title">
        <span>Follow Jade LIVE</span>
      </h1>
    </a>
  </div>

</section>

<footer class="site-footer">
  <p class="good-tunes-info">The Good Tunes Project – <a href="mailto:team@goodtunes.org">team@goodtunes.org</a></p>
</footer>
