<section class="homepage">

  <fundraisers-list list-items="home.fundraisers"></fundraisers-list>

  <div class="fundraiser ben">
    <a href="/fundraisers/56154723229562110033f747">
      <div class="fundraiser__picture" style="background-image: url(/src/images/ben.jpg);"></div>
      <h1 class="fundraiser__title">
        <span>Ben</span>
      </h1>
    </a>
  </div>

  <div class="fundraiser jade">
    <a href="/fundraisers/56154ee4229562110033f74a">
      <div class="fundraiser__picture" style="background-image: url(/src/images/jade.jpg)"></div>
      <h1 class="fundraiser__title">
        <span>Jade</span>
      </h1>
    </a>
  </div>

</section>
