<div class="page cf">

  <section class="fundraiser-overview">

    <header class="fundraiser-header">
      <div class="primary-heading-wrapper">
        <h1 class="primary-heading">{{::fundraiser.fundraiser.title}}</h1>
      </div>
    </header>

    <div class="fundraiser-pictures">
      <div class="fundraiser-picture">
         <img src="/src/images/{{::fundraiser.person}}.jpg" alt="">
       </div>
    </div>

    <div class="fundraiser__summary">
      <p>Use music and your wallet to support {{::fundraiser.fundraiser.user.name}} as {{::fundraiser.gender}} raises money for {{::fundraiser.fundraiser.charity}}</p>
    </div>

    <a class="button__donate" ui-sref="fundraisers.one.add({id: fundraiser.fundraiser.id, playlist: fundraiser.fundraiser.playlist})">Give <b>♫</b> + <b>$</b> now</a>

    <h2 ng-click="toggleOverlay()">Why am I doing this?</h2>

    <fundraiser-total
      name="fundraiser.fundraiser.user.name"
      symbol="fundraiser.fundraiser.currency"
      target="fundraiser.fundraiser.target"
      raised="fundraiser.fundraiser.raised"
      date="fundraiser.fundraiser.target_date">
    </fundraiser-total>

    <a class="button-primary mix-button" ui-sref="fundraisers.one.playlist({id: fundraiser.fundraiser.id, playlist: fundraiser.fundraiser.playlist})">View the mix</a>

  </section>

  <section class="fundraiser-background-pictures">
    <div class="fundraiser-picture" style="background-image: url(/src/images/{{::fundraiser.person}}.jpg);"></div>
    <div class="fundraiser-picture__mask"></div>
  </section>

  <section class="fundraiser-details">
      <div ui-view="fundraiser"></div>
  </section>
</div>
