<a style="position:absolute" ui-sref="fundraisers.one.edit({id: fundraiser.fundraiser.id})">Edit</a>

<header class="fundraiser__header">
  <div class="primary-heading-wrapper">
    <h1 class="primary-heading">{{::fundraiser.fundraiser.title}}</h1>
  </div>
</header>

<div class="fundraiser-pictures" style="background:url('/src/images/ben.jpg') 50% / cover">
</div>

<div class="fundraiser__description__text" ng-show="overlayVisible">
  <span class="fundraiser__description__text__close" ng-click="toggleOverlay()">X</span>    
  {{::fundraiser.fundraiser.description}}
</div>

<div class="fundraiser__non-img__wrapper">

  <div class="fundraiser__summary">
    <p>Use music and your wallet to support {{::fundraiser.fundraiser.user.name}} as he raises money for {{::fundraiser.fundraiser.charity}}</p>
  </div>

  <div class="wrapper">
    <a class="button__donate" ui-sref="fundraisers.one.add({id: fundraiser.fundraiser.id, playlist: fundraiser.fundraiser.playlist})">Give <b>♫</b> + <b>$</b> now</a>
  </div>

  <div class="fundraiser__description">
    <h2 ng-click="toggleOverlay()">Why am I doing this?</h2>
  </div>

  <fundraiser-total
    name="fundraiser.fundraiser.user.name"
    symbol="fundraiser.fundraiser.currency"
    target="fundraiser.fundraiser.target"
    raised="fundraiser.fundraiser.raised"
    date="fundraiser.fundraiser.target_date">
  </fundraiser-total>

  <div class="wrapper mix-button">
    <a class="button-primary" ui-sref="fundraisers.one.playlist({id: fundraiser.fundraiser.id, playlist: fundraiser.fundraiser.playlist})">View the mix</a>
  </div>
</div>