<form class="search-form cf" name="spotifySearchForm" ng-submit="search.search(search.q)">
  <div class="form-field">
    <label class="form-label" for="q">Search Spotify</label>
    <input
      type="search"
      name="q"
      id="q"
      ng-model="search.q"
      class="field"
      placeholder="Search for a song or artist"
      required
      autocomplete="on"
      autofocus="true">
  </div>

  <button type="submit" class="fa fa-search form-button button-primary" aria-label="Search">
    <svg viewBox="0 0 83 83" xmlns="http://www.w3.org/2000/svg"><g transform="matrix(-1 0 0 1 75 5)" stroke="#03F" stroke-width="10" fill="none" fill-rule="evenodd"><circle cx="44" cy="26" r="26"/><path d="M0 70.83l26.227-26.226" stroke-linecap="square"/></g></svg>
  </button>
</form>
