@import url('normalise.css');

/*
$orange: #fa6346;
$blue: #225bad;
$white: #fff;
*/

* {
  box-sizing: border-box;
}

body {
  background: #fa6346;
  font-family: "NeueHaasGroteskText W01";
}

a {
  color: #225bad;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.fundraiser-options {
  background: #fff;
}

.page {
  position: relative;
}

h1,h2 {
  font-weight: normal;
}

.wrapper {
  margin: 0 2rem;
}

.login {
  margin: 2em;
}

.button-primary {
  background: #225bad;
  border: 0;
  color: #fff;
  display: block;
  padding: 1rem .5rem;
  text-align: center;
  text-decoration: none;
}

.button__donate {
  background: #fff;
  color: #225bad;
  display: block;
  font-size: 1rem;
  margin: 0;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  font-family: "NHaasGroteskTXW01-75Bd";
}

.button__donate b {
  color: #fa6346;
}

@media (max-width: 768px) {
  .button__donate {
    background: #225bad;
    color: #fff;
    margin: 0 1.875rem;
  }
}

.fundraiser-overview .button__donate {
  font-size: 1.5rem;
}

.field {
  background: #fff;
  border: 0;
  border-bottom: 1px solid #fa6346;
  box-sizing: border-box;
  margin: 1rem 0;
  padding: 1rem .5rem;
  width: 100%;
}

.fundraiser-details .field {
  background: transparent;
}

.track-list {
  background: #fff;
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.5;
}

@media (min-width: 769px) {
  .track-list {
    background: transparent;
  }
}

.track-list__track {
  border-bottom: 1px solid #fa6346;
  clear: both;
  padding: .5rem;
  position: relative;
}

.track-list__track-data {
  display: block;
  float: left;
  width: 50%;
}

.track-list__track-title {
  color: #225bad;
  display: block;
  font-size: 1rem;
  font-weight: bold;
}

.track-list__track-artist {
  color: #225bad;
  display: inline-block;
  font-size: 0.8125rem;
}

.track-list__donor {
  color: #225bad;
  float: right;
  font-size: 1rem;
  text-align: right;
  width: 50%;
}

.track-list__track .button__donate {
  background: #225bad;
  border: 0;
  color: #fff;
  display: inline-block;
  float: right;
  font-size: 1rem;
  margin: 0;
  padding: .5rem;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
}

@media (min-width: 769px) {
  .track-list__track .button__donate {
    right: .5rem;
  }
}

/*.primary-heading-wrapper {
  background: url(../images/heading-underline.png) 0 0px;
  padding: 0 30% 3px 0;
}*/

.primary-heading {
  color: #fff;
  display: inline;
  font-size: 3rem;
  font-weight: normal;
}

.secondary-heading {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 1rem 0;
}

.fundraiser-header {
  margin: 1.5rem 0 1rem 0;
}

.fundraiser-header .primary-heading-wrapper {
  background: url(../images/heading-underline.png) top left repeat;
}

.fundraiser-header .primary-heading {
  font-size: 2.5rem;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .fundraiser-header {
    margin: 1.875rem;
  }
}

.wrapper {
  font-size: 1.5rem;
}

.fundraiser__description__text .fundraiser__description__text__close {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 100;
  color: #fa6346;
  font-size: 3rem;
  position: absolute;
  top: 20px;
  right: 20px;
  display: block;
  cursor: pointer;
}

.fundraiser-pictures .fundraiser-pictures__picture {
  display: block;
  height: auto;
  width: 100%;
}

.fundraiser__description {
  color: #225bad;
  padding: 0;
  cursor: pointer;
  border-bottom: 4px solid #fff;
  padding: 0 0 1rem 0;
}

.fundraiser__description h2 {
  text-decoration: underline;
}

.playlist__description__text h1 {
  color: #225bad;
  margin: 0;
  display: block;
  padding: 0 0.5rem;
}

.playlist__description__text .track-list {
  background: none;
  padding: 1rem 0;
}

.fundraiser__summary {
  color: #fff;
  margin: 1rem 0;
  line-height: 1.5;
}

.fundraiser__summary p {
  font-size: 1.25rem;
}

@media (max-width: 768px) {
  .fundraiser__summary {
    margin: 1rem 1.875rem;
  }
}

.fundraiser__summary.thank-you {
  margin: 0 2rem 2rem 2rem;
}

.fundraiser-total {
  margin: 1rem 0;
}

@media (max-width: 768px) {
  .fundraiser-total {
    margin: 1rem 1.875rem;
  }
}

.fundraiser-total a {
  display: block;
  float: right;
  width: 24px;
}

.fundraiser-total .secondary-heading {
  color: #fff;
  font-size: 1.25rem;
  margin-bottom: 0;
}

.fundraiser-total .fundraiser-total__summary {
  margin: 0 auto 1rem auto;
}

.fundraiser-total .fundraiser-total__summary span {
  color: #225bad;
  display: inline-block;
  font-weight: bold;
}

.fundraiser-total .fundraiser-total__reached,
.fundraiser-total .fundraiser-total__target {
  font-size: 3rem;
  font-family: "NHaasGroteskTXW01-75Bd";
}

.fundraiser-total .fundraiser-total__target-date {
  color: #fff;
  font-family: "NHaasGroteskTXW01-75Bd";
}

.totalator {
  background: rgba(255, 255, 255, 0.6);
  height: 1.4rem;
  margin: .5rem 0;
  position: relative;
  width: 100%;
}

.totalator span {
  line-height: 25px;
}

.fundraiser-total span:nth-of-type(2) {
  float: right;
}

.totalator .totalator__raised {
  background: #225bad;
  display: block;
  height: 1.4rem;
  z-index: 1;
}

.totalator .totalator__dividers {
  background: url(../images/totalator-divider.png) repeat 0 0;
  display: block;
  height: 1.4rem;
  width: 100%;
  z-index: 2;
}

.totalator .totalator__raised,
.totalator .totalator__dividers {
  left: 0;
  position: absolute;
  top: 0;
}

.crowdrise-widget {
  margin: 0 auto;
  width: 300px;
}

.good-tunes-powered {
  clear: both;
  margin: 2rem auto;
  text-align: center;
}

@media (min-width: 769px) {
  .good-tunes-powered {
    display: none;
  }
}

.primary-heading {
  font-size: 3rem;
}

::-webkit-input-placeholder {
   color: #225bad;
   font-size: 15px;
}

:-moz-placeholder { /* Firefox 18- */
   color: #225bad;
   font-size: 15px;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #225bad;
   font-size: 15px;
}

:-ms-input-placeholder {
   color: #225bad;
   font-size: 15px;
}

.donate__search input {
  padding: 0.5rem 0;
}

#musiclabel,
#dollarlabel {
  width: 80px;
  height: 80px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  display: block;
  color: #fff;
  background: #255bad;
  text-align: center;
  line-height: 70px;
  font-size: 50px;
  margin: -3rem 0 2rem;
}

#musiclabel span {
  display: inline-block;
  margin: 4px 0 0 -8px;
}

#dollarlabel span {
  display: inline-block;
  margin: 5px 0 0;
}

.donate .button-primary {
  width: 100%;
}

@media (max-width: 769px) {

  .donate {
    padding: 0;
  }

  .track-list {
    padding: 0;
  }

  .track-list__track {
    padding: 0.5rem 0;
  }

  .blue {
    display: inline;
  }

  .red {
    display: none;
  }

  .playlist__header,
  .playlist-pictures,
  .playlist__non-img__wrapper .fundraiser__summary,
  .playlist__non-img__wrapper .fundraiser__description,
  .playlist__non-img__wrapper .fundraiser-total,
  .donate__fundraiser__non-img__wrapper,
  .donate__fundraiser-pictures,
  .donate__fundraiser__header  {
    display: none;
  }

  .add__fundraiser__header,
  .add__fundraiser-pictures,
  .add__fundraiser__non-img__wrapper {
    display: none;
  }

  .playlist__description__text,
  .add__description__text,
  .donate__description__text {
    position: static;
    background: rgb(255, 255, 255);
  }

  .fundraiser__description__text {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 30px 30px 30px 30px;
  }

  .fundraiser__description__text .fundraiser__description__text__close {
    position: absolute;
    top: 0px;
    right: 0px;
    color: #fa6346;
    fill: currentColor;
    transform: rotateZ(45deg);
  }

  .playlist__non-img__wrapper {
    clear: both;
  }

  .primary-heading-wrapper.thank-you {
    padding-bottom: 10px;
  }

  .crowdrise-widget {
    width: auto;
  }

  .crowdrise-widget>div:nth-of-type(2) {
    width: auto !important;
  }
}

@media (min-width: 769px) {

  .fundraiser__non-img__wrapper {
    clear: left;
    float: left;
    width: 30%;
  }

  .fundraiser-pictures {
    position: fixed;
    right: 10px;
    bottom: 10px;
    left: 30%;
    top: 10px;
    overflow: hidden;
  }

  .fundraiser__header {
    padding-bottom: 0;
  }

  .fundraiser__description {
    font-size: 0.5rem;
  }

  .blue {
    display: none;
  }
  .red {
    display: block;
  }
}

.fundraiser-overview {
  width: 100%;
}

@media (min-width: 769px) {
  .fundraiser-overview {
    float: left;
    padding: 0 1.875rem;
    margin: 0;
    width: 30%;
  }
}

.fundraiser-details {
  position: relative;
  width: 100%;
}

.fundraiser-details__inner {
  background: #fff;
  padding: 5rem 1.875rem 1.875rem;
}

.fundraiser-details__inner p {
  margin-top: 0;
}

@media (min-width: 769px) {
  .fundraiser-details {
    background: transparent;
    float: right;
    padding: 0 10px 0 0;
    width: 70%;
    z-index: 20;
  }

  .fundraiser-details::before,
  .fundraiser-details::after {
    background: #fa6346;
    content: '';
    height: 10px;
    position: fixed;
    right: 0;
    width: 70%;
    z-index: 20;
  }

  .fundraiser-details::after {
    bottom: 0;
  }

  .fundraiser-details__inner {
    background: transparent;
  }
}

.fundraiser-pictures .fundraiser-picture img {
  display: block;
  height: auto;
  width: 100%;
}

@media (min-width: 769px) {
  .fundraiser-pictures {
    display: none;
  }
}

.fundraiser-background-pictures {
  display: none;
}

@media (min-width: 769px) {
  .fundraiser-background-pictures {
    display: block;
    float: right;
    padding-right: 10px;
    position: fixed;
    right: 0;
    width: 70%;
    z-index: 10;
  }

  .fundraiser-background-pictures::before {
    content: '';
    background: url('../images/good-tunes-red.png') no-repeat 0 0;
    display: block;
    height: 176px;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 173px;
    z-index: 15;
  }

  .fundraiser-background-pictures .fundraiser-picture {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    z-index: 10;
  }

  .fundraiser-background-pictures .fundraiser-picture__mask {
    background: rgba(255, 255, 255, 0.8);
    min-height: 100vh;
    position: absolute;
    top: 0;
    width: calc(100% - 10px);
    z-index: 20;
  }
}

/*.fundraiser__wtf {
  display: block;
  margin: 1rem 1.875rem;
}*/

/*@media (min-width: 769px) {
  .fundraiser__wtf {
    margin-left: 0;
    margin-right: 0;
  }
}*/

.mix-button {
  margin: 1rem 1.875rem;
}

@media (min-width: 769px) {
  .mix-button {
    margin: 1rem 0;
  }
}

.fundraiser-why,
.fundraiser-why p {
  color: #225bad;
  font-size: 1.5rem;
  margin: 0 0 1rem;
}

.fundraiser-why h2 {
  margin-top: 0;
}

.backToFundraiser {
  display: block;
  height: 50px;
  margin: 23px 0 0;
  position: absolute;
  right: 20px;
  top: 0;
  width: 60px;
}

.backToFundraiser span {
  display: none;
}

.backToFundraiser::before,
.backToFundraiser::after {
  background: #fa6346;
  content: '';
  display: block;
  height: 50px;
  position: absolute;
  width: 3px;
}

.backToFundraiser::before {
  right: 30px;
  transform: rotate(45deg);
}

.backToFundraiser::after {
  right: 30px;
  transform: rotate(-45deg);
}

@media (min-width: 769px) {
  .fundraiser-details .playlist,
  .fundraiser-details .fundraiser-why {
    margin: 0 3.125rem 0 0;
  }
}

/* VIEW: HOMEPAGE */
.homepage {
  position: relative;
  width: 100%;
}

.homepage .goodtunes {
  display: none;
}

@media (min-width: 769px) {
  .homepage {
    height: 100vh;
  }

  .homepage .goodtunes {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 1.875rem;
    height: 176px;
    transform: translateX(-50%);
    width: 173px;
  }
}

.homepage .fundraiser {
  height: 50vh;
  position: relative;
  width: 100%;
}

@media (min-width: 769px) {
  .homepage .fundraiser {
    float: left;
    height: 100vh;
    width: 50%;
  }
}

.homepage .fundraiser a {
  display: block;
  position: absolute;
  bottom: 0;
  top: 0;
  text-decoration: none;
  width: 100%;
}

.homepage .fundraiser__picture {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 50vh;
  width: 100%;
  z-index: 10;
}

@media (min-width: 769px) {
  .homepage .fundraiser__picture {
    height: 100vh;
  }
}

.homepage .ben .fundraiser__picture {
  background-position: right top;
}

.homepage .fundraiser__title {
  background: #fff;
  bottom: 0;
  display: block;
  font-size: 1.5rem;
  margin: 0;
  padding: 1rem 0;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 20;
}

@media (min-width: 769px) {
  .homepage .fundraiser__title {
    background: url(../images/heading-underline.png) 0 0px;
    bottom: initial;
    font-size: 2.8rem;
    margin: 1.875rem;
    padding: 0 0 3px 0;
    text-align: left;
    width: 70%;
    top: 0;
  }
}

.homepage .fundraiser__title span {
  display: inline;
  line-height: 132%;
}

.good-tunes-info {
  font-size: .75rem;
  text-align: center;
}

.good-tunes-info a {
  color: #000;
}

/* Default text page */
.default-page {
  background: #fff;
  padding: 1.875rem;
}

.default-page h1,
.default-page h2 {
  color: #225bad;
}

/* Site footer */
.site-footer {
  margin: 0 1.875rem;
}

.site-footer a {
  color: #225bad;
}

/* search */
.search-form {
  border-bottom: 1px solid #fa6346;
}

.search-form .form-field {
  float: left;
  width: 85%;
}

.search-form .form-field .form-label {
  display: none;
}

.search-form .form-field input[type="search"] {
  border-bottom: 0;
  box-sizing: border-box;
  line-height: 1;
  margin: 0;
  padding: 14px 0;
}

.search-form .form-button {
  background: transparent;
  color: #225bad;
  float: right;
  width: 15%;
}

.search-form .form-button span {
  display: none;
}

@media (min-width: 769px) {
  .search-form .form-button {
    font-size: 1.5rem;
    padding-top: .75rem;
    padding-bottom: .75rem
  }
}
