@import url('normalise.css');

/*
$orange: #fa6346;
$blue: #225bad;
$white: #fff;
*/

body {
  background: #fa6346;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

h1,h2 {
  font-weight: normal;
}

.wrapper {
  margin: 2rem;
}

.login {
  margin: 2em;
}

.button-primary {
  background: #225bad;
  border: 0;
  color: #fff;
  display: block;
  padding: 1rem .5rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.button__donate {
  background: #fff;
  box-sizing: border-box;
  color: #225bad;
  display: block;
  padding: 1rem .5rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.button__donate b {
  color: #fa6346;
}

.field {
  background: #fff;
  border: 0;
  border-bottom: 1px solid #fa6346;
  box-sizing: border-box;
  margin: 1rem 0;
  padding: 1rem .5rem;
  width: 100%;
}

.track-list {
  background: #fff;
  margin: 0;
  padding: 1rem;
  list-style: none;
}

.track-list__track {
  border-bottom: 1px solid #fa6346;
  clear: both;
  padding: .5rem;
}

.track-list__track-data {
  display: block;
  float: left;
  width: 75%;
}

.track-list__track-title {
  color: #225bad;
  display: block;
  font-weight: bold;
}

.track-list__track-artist {
  color: #225bad;
  display: inline-block;
}

.track-list__track .button__donate {
  background: #225bad;
  border: 0;
  color: #fff;
  display: inline-block;
  float: right;
  padding: .5rem;
  width: auto;
}

.primary-heading-wrapper {
  background: url(../images/heading-underline.png) 0 0px;
  padding-right: 30%;
  padding-bottom: 30px;
}

.primary-heading {
  color: #fff;
  display: inline;
  font-size: 3rem;
  font-weight: normal;
  line-height: 132%;
}

.secondary-heading {
  font-size: 2rem;
  font-weight: normal;
  margin: 0;
}

.fundraiser__header {
  padding: 4rem 5rem 5rem 5rem;
}

.fundraiser__description__text {
  background: rgba(255,255,255,0.8);
  color: #225bad;
  display: block;
  position: fixed;
  z-index: 20;
  position: fixed;
  right: 10px;
  bottom: 10px;
  left: 30%;
  top: 10px;
  overflow: hidden;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 20px 10px;
}

.fundraiser__description__text .fundraiser__description__text__close {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 100;
  color: #fa6346;
  font-size: 3rem;
  position: absolute;
  top: 20px;
  right: 20px;
  display: block;
  cursor: pointer;
}

.fundraiser-pictures .fundraiser-pictures__picture {
  display: block;
  height: auto;
  width: 100%;
}

.fundraiser__description {
  background: #fff;
  color: #225bad;
  padding: 2rem;
  cursor: pointer;
}

.fundraiser__description h2 {
  text-decoration: underline;
}

.playlist__description__text h1 {
  color: #225bad;
  margin: 0;
  display: block;
  padding: 0 0.5rem;
}

.playlist__description__text .track-list {
  background: none;
  padding: 1rem 0;
}

.fundraiser__summary {
  color: #fff;
  margin: 2rem;
  font-size: 1.5rem;
  line-height: 130%;
}

.fundraiser__summary.thank-you {
  margin: 0 2rem;
}

.fundraiser-total {
  margin: 2rem;
}

.fundraiser-total .secondary-heading {
  color: #fff;
}

.fundraiser-total .fundraiser-total__summary {
  margin: 1rem auto;
}

.fundraiser-total .fundraiser-total__summary span {
  color: #225bad;
  display: inline-block;
  font-weight: bold;
}

.fundraiser-total .fundraiser-total__reached,
.fundraiser-total .fundraiser-total__target {
  font-size: 2rem;
  font-weight: bold;
}

.fundraiser-total .fundraiser-total__target-date {
  color: #fff;
  font-weight: bold;
}

.totalator {
  background: rgba(255, 255, 255, 0.6);
  height: 1.4rem;
  margin: 1rem 0;
  position: relative;
  width: 100%;
}

.totalator .totalator__raised {
  background: #225bad;
  display: block;
  height: 1.4rem;
  z-index: 1;
}

.totalator .totalator__dividers {
  background: url(../images/totalator-divider.png) repeat 0 0;
  display: block;
  height: 1.4rem;
  width: 100%;
  z-index: 2;
}

.totalator .totalator__raised,
.totalator .totalator__dividers {
  left: 0;
  position: absolute;
  top: 0;
}

.donate {
  background: #fff;
  padding: 2rem;
}

.crowdrise-widget {
  margin: 0 auto;
  width: 300px;
}

.good-tunes-powered {
  margin: 2rem auto;
  text-align: center;
}

.primary-heading {
  font-size: 2.8rem;
}

.fundraiser__header {
  padding: 1rem 2rem 1rem 2rem;
  box-sizing: border-box;
}

@media (max-width: 850px) {
  .blue {
    display: block;
  }
  .red {
    display: none;
  }

  .playlist__header,
  .playlist-pictures,
  .playlist__non-img__wrapper .fundraiser__summary,
  .playlist__non-img__wrapper .fundraiser__description,
  .playlist__non-img__wrapper .fundraiser-total  {
    display: none;
  }

  .playlist__description__text {
    position: static;
    background: rgb(255, 255, 255);
  }

  .playlist__non-img__wrapper {
    clear: both;
  }

  .primary-heading-wrapper.thank-you {
    padding-bottom: 10px;
  }
}

@media (min-width: 851px) {


  .fundraiser__header,
  .fundraiser__non-img__wrapper {
    clear: left;
    float: left;
    width: 30%;
  }

  .fundraiser-pictures {
    position: fixed;
    right: 10px;
    bottom: 10px;
    left: 30%;
    top: 10px;
    overflow: hidden;
  }

  .fundraiser__header {
    padding-bottom: 0;
  }

  .fundraiser__summary {
    margin-top: 0;
  }

  .fundraiser__summary p {
    margin: 0;
  }

  .fundraiser__description {
    padding: 0.1rem 2rem;
    font-size: 0.5rem;
  }

  .good-tunes-powered {
    clear: left;
    position: fixed;
    right: 20px;
    top: 20px;
    margin: 0;
    z-index: 10;
  }

  .primary-heading-wrapper {
    padding-right: 34%;
  }

  .blue {
    display: none;
  }
  .red {
    display: block;
  }
}